<div class = "container">
	<div class ="row">
		<h3>ジャンル一覧</h3>
		<%= form_for(@genre, url: admin_genres_path) do |f| %>

		<% if @genre.errors.any? %>
              <div id="error_explanation">
                <h3><%= @genre.errors.count %>error prohibited this obj from being saved:</h3>
                  <% @genre.errors.full_messages.each do |message| %>
                    <%= message %>
                  <% end %>
              </div>
       <% end %>

       <%= f.text_field :name %>
       <label><%= f.radio_button :valid_status, true,{:checked => true} %>有効</label>
       <label><%= f.radio_button :valid_status, false %>無効</label>
       <%= f.submit "追加",class:"btn btn-primary" %>
       <% end %>
	</div>
	<table class="table table-hover">
        <thead>
          <tr>
            <th>ジャンル</th>
            <th>状態</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><% if genre.valid_status == true %>有効
                  <% else %>無効
                  <% end %></td>
              <td><%= link_to "編集する", edit_admin_genre_path(genre),class:"btn btn-primary active" %></td>
              <td><%= link_to "削除する", admin_genre_path(genre.id), method: :delete, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>
