<div class="row">
    <h3><%= @work.name %>の登録情報編集</h3>

   <%= form_for(@work, url: member_work_path) do |f| %>
      <table class="table">
                   <div class="image">
                      <% @work.image[0].identifier.gsub("\"", "").gsub("[","").gsub("]","").gsub(" ","").split(",").each do |img| %>
                      <% baseuri = "/uploads/work/image/"+ @work.id.to_s + "/" %>
                      <% uri = baseuri + img %>
                         <div class="one image"><%= image_tag uri %></div>
                     <% end %>
                   </div>
          <%= f.label :image %>
          <%= f.file_field :image, multiple: true %>
          <tr>
            <th>商品名</th>
               <td><%= f.text_field :name%></td>
          </tr>
          <tr>
            <th>商品説明</th>
               <td><%= f.text_area :introduction %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
               <td><%= f.collection_select :genre_id, Genre.all, :id, :name%></td>
          </tr>
      </table>
          <%= f.submit '変更を保存する', class: "btn btn-primary"%>
   <% end %>
</div>

