 <div class="row">
  <div class= "col-xs-10">
    <h3>商品詳細</h3>
      <table class="table">
        <tr>
           <th>作品画像</th>
              <% if @work.image.present? %>
                <% @work.image.each do |img| %>
              <td><%= image_tag(img.url) %></td>
                <% end %>
            <% end %>
        </tr>
        <tr>
          <th>商品名</th>
          <td><%= @work.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @work.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @work.genre.name %></td>
        </tr>
      </table>
      <% if @work.member_id == current_member.id %>
        <div class="field">
          <%= link_to "編集する", edit_member_work_path(@work.id),class:"btn btn-primary" %>

          <%= link_to "Destroy", member_work_path, method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-danger" %>
        </div>
      <% end %>
  </div>
</div>