<div class ="row">
 <div class="col-xs-6">
      <h1>マイページ</h1>

     <font size= "4" >登録情報 </font>
     <%= link_to "編集する", edit_member_path(@member), class: "btn btn-primary"%>
  </div>
</div>

<div class ="row">
 <div class="col-xs-2">
      <table class="table table-bordered ">
        <tr>
        	 <%= attachment_image_tag @member, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
          <th class="active">氏名</th>
          <td><%= @member.name %></td>
        </tr>
        <tr>
          <th class="active">メールアドレス</th>
          <td><%= @member.email %></td>
        </tr>
    </table>
</div>
</div>
<div class ="row">
 <div class="col-xs-10">
 	<table>
      <tr>
          <th class="active">自己紹介</th>
      </tr>
      <tr>
      	<%= form_for(@member) do |f|%>
          <td><%= f.text_area :introduction%></td>
          <% end %>
      </tr>
    </table>
 </div>
</div>
